<footer class="site-footer">
  <span class="subscribe"><a href="{{@blog.url}}/rss/"><i class="icon-rss medium"></i><span>Subscribe!</span></a></span>
  <div class="inner">
    <p>All content &copy; <a href="{{@blog.url}}/">{{@blog.title}}</a> 1982&ndash;{{date format="YYYY"}}</p>
    <p>Proudly published with <a href="https://ghost.org"><i class="icon-ghost"></i>Ghost</a></p>
  </div>
</footer>
