{{!< default}}
{{> list-head}}
<div class="wrapper">
  <main class="content" role="main">
    <header class="tag-archive-header">
      <p>Posts tagged &ldquo;{{tag.name}}&rdquo;</p>
    </header>
    {{#foreach posts}}
    {{> list-post}}
    {{/foreach}}
    {{pagination}}
  </main>
  {{> footer}}
</div>
